.body{
  background-color: rgb(23, 63, 96);
}
.container_full {
  width: 100%;
  height: auto;
}
.container {
  width: 80%;
  margin: 10px auto;
}
.fix {
  overflow: hidden;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.floatright {
  float: right;
}
/*--------------------*/

.budget-app {
  width: 100%;
  margin-top: 15px;
  padding: 20px;
}
.headline {
  text-align: center;
  background-color: #141e61;
  padding: 10px;
  color: #eeeeee;
  margin: -9px -9px 0px;
  border-radius: 30px;
}

.content-left {
  width: 35%;
}

.floatleft {
  float: left;
}
.enter-budget-box,
.add-expense-box {
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
  border: 2px solid rgb(15, 15, 15);
}
.add-expense-box.visible {
  display: block;
}
.content-left label {
  font-size: 20px;
  font-style: normal;
}
input {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 2px;
  border: none;
}
input:focus {
  width: 97%;
  transition: 0.1s all ease;
}
.content-left button {
  padding: 5px 15px;
  background: none;
  border: 1px solid;
  cursor: pointer;
  border-radius: 30px;
}
.enter-budget-box input {
  border-bottom: 1px solid rgb(75, 197, 75);
}
.add-expense-box input {
  border-bottom: 1px solid rgba(235, 74, 34, 0.918);
}
#add-budget-btn {
  border-color: rgb(75, 197, 75);
}
#add-budget-btn:active {
  background: rgb(75, 197, 75);
}
#add-expense-btn {
  border-color: rgba(235, 74, 34, 0.918);
}
#add-expense-btn:active {
  background: rgba(235, 74, 34, 0.918);
}
.content-right {
  width: 59%;
  /* height: 85; */
  border: 2px solid #020202;
  border-radius: 30px;
}
.balances {
  padding: 5px;
  margin-bottom: 25px;
}
.balances .items {
  text-align: center;
  width: 32%;
  display: inline-block;
}
.balances .items p {
  font-size: 20px;
  text-transform: uppercase;
}
.balances .items p,
.logo {
  margin-bottom: 10px;
}
.expenses {
  padding: 10px;
  font-size: 14px;
}
.expenses table {
  text-align: center;
  border: 1px solid #ddd;
  padding: 5px 0;
}
.expenses table td {
  /* padding: 20px 50px; */
  width: 1%;
}
#expense-list {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  height: 210px;
  overflow-y: scroll;
}
#expense-list td {
  height: 30px;
  width: 1%;
}
.expenses table thead {
  margin-bottom: 20px;
}
.balances .logo img {
  width: 50%;
}
.budget-amount,
.balance-amount,
.expenses-amount {
  font-size: 30px;
  font-weight: bold;
}
.budget-amount {
  color: rgb(75, 197, 75);
}
.balance-amount {
  color: rgb(35, 147, 226);
}
.expenses-amount {
  color: rgba(235, 74, 34, 0.918);
}
#reset-app-btn {
  border-color: rgba(235, 74, 34, 0.918);
}
#reset-app-btn:active {
  background: rgba(235, 74, 34, 0.918);
}
#currency {
  margin-bottom: 20px;
}
.del-btn {
  border: none;
  color: red;
}
.del-btn {
  background: none;
  cursor: pointer;
}
